#background{
background-image: url(https://images.unsplash.com/photo-1470690096659-6f59b9b39fd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1198&q=80);
background-repeat: no-repeat;
background-size: cover;
}

#banner{
    justify-content: center;
    justify-items: center;
    font-family: cursive;
    overflow: hidden;
    border-right: .15em solid rgb(246, 12, 51);
    white-space: nowrap;
    animation: 
      typing 5s forwards;
    font-size:15px;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }