#title{
    font-family: cursive;
}

.typed-out{
    justify-content: center;
    justify-items: center;
    font-family: cursive;
    overflow: hidden;
    border-right: .15em solid rgb(248, 19, 99);
    white-space: nowrap;
    animation: 
      typing 5s forwards;
    font-size: 15px;
    width: 0;

  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }